/*Daksh prajapati 8912306*/
html{
    font: normal normal normal 20px/1.5 Arial, Helvetica, sans-serif;
}
body{
   
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 210, 201);
    display: flex;
    flex-direction: column;
}
h2{
    color: #f02;
    font-size: 2em;
}
h1 {
    color: blueviolet;
    font-size: 1.5rem;
}
header{
    background-color: hsl(327, 100%, 51%);
}
figure{
    border: 0.1rem black;
}
img{
    width: 80%;
    height: 80%;
}
nav ul li{
    display: inline;
    list-style-type: none;
}
nav ul li a{
    color: indigo;
    border: 0.1em solid indigo;
    background-color: cornsilk;
    text-decoration: none;
    padding: 0.25em;
}
nav ul li a:hover{
    color: cornsilk;
    background: indigo;
    border-color: cornsilk;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

main{
    flex: 1 1 70%;
    
    background-color: hsl(75, 84%, 65%);
}
aside{
    flex: 1 1 30%;
    
    background-color: hsl(327, 100%, 51%);
}
aside li{
    list-style-type: square;
    line-height: 2em;
   }
  aside a{
    color: rgb(247, 251, 6)
   }
footer{
    
    background-color: hsl(10, 87%, 57%);
}
.structural{
    margin: 1rem;
    padding: 1rem;
    border: 0.2rem solid black;
}
#para1{
     color: rgb(9, 9, 245);
}
#para2{
     color: rgb(122, 6, 184);
}

form{
    border: 0.1rem dashed darkcyan;
    padding: 0.1rem;
}
input[type=text], inputp[type=email] input[type=submit], select,option{
   display : block;
   width: 50%;
   height: 2em;
}
input[type=radio], input[type=checkbox]{
    height: 2em;
    width: 2em;
}
select, option, label, legend, input[type=submit]{
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}
textarea{
    display: block;
    width: 50%;
}
fieldset{
    border: none;
}

aside a:hover{
    color: #f04;
}
footer p{
    font-size: .75em;
}

#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5;
}
@media (max-width: 600px){
    html{
        font-size: 10px;
    }
    #gallery{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    section{
        display: block;
    }
}