/*Daksh prajapati 8912306*/
body{
    font: normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 210, 201);
}
h2{
    color: #f02;
    font-size: 2em;
}